* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    background-color: rgba(0, 0, 0, 0.915);
    scroll-behavior: smooth;
}

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-between;
    align-items: center;
    height: 17vh;
    padding: 0 4rem;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: white;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: purple;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.no-hover:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.name {
    color: white;
    font-size: 2rem;
    text-align: center;
}

#profile{
    color: white;
    display: flex;
    justify-content: center;
    height: 80vh;
}

.image_container{
    align-self: center;
    text-align: center;
}

.image_container img{
    display: flex;
    height: 350px;
    width: 350px;
    margin-right: 100px; 
}

.text-container{
    align-self: center;
    text-align: center;
}

.text_1{
    font-size: 1rem;
    text-align: center;
}

.text_2{
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

.text_3{
    font-size: 1.25rem;
    text-align: center;
    margin-top: 1rem;
}

#about{
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.image_container_2 {
    display: flex;
    align-items: center; 
}

.image_container_2 img {
    margin-top: 50px;
    width: 500px; 
    height: 300px; 
    /* border-radius: 10%; */
}

.details-container {
    text-align: justify;
}

.details_1, .details_2 {
    font-size: 1.2rem;
    line-height: 1.5;
    width: 500px; 
    padding-left: 20px;
    margin-top: 50px;
}

.details_2{
    margin-top: 25px;
}

#projects{
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.projects-container{
    text-align: center;
}

.project_1, .project_2, .project_3{
    border-color: black;
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 15%;
    width: 300px;
    height: 300px;
    display: inline-block; 
    margin: 50px; 
    background-color: rgb(69, 8, 149); 
    overflow: hidden; 
    position: relative;
    font-size: 1.5rem;
}

.project_1:hover, .project_2:hover, .project_3:hover  {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.project_1 p{
    margin-top: 50%;
}

.project_2 p{
    margin-top: 50%;
}

.project_3 p{
    margin-top: 50%;
}

.project-description{
    padding: 100px;
    color: white;
    width: 50%;
    margin-left: 380px;
}

.project-description img{
    margin-top: 20px;
    width: 100%;
}

.project-description p{
    margin-top: 20px;
    font-size: 1.2rem;
}

.project-container:after {
    content: "";
    display: table;
    clear: both;
  }
  
.closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
} 

/* experience{
    margin-top: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} */

#contact{
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact-container{
    text-align: center;
}

.contact_1, .contact_2, .contact_3 {
    border-color: black;
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 2%;
    width: 400px;
    height: 100px;
    display: inline-block; 
    margin: 50px; 
    background-color: rgb(69, 8, 149); 
    overflow: hidden; 
}

.box_1, .box_2, .box_3{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 40px;
}

@media (max-width: 768px) {

    #profile{
        display: flex;
        justify-content: center;
        height: 50vh;
    }

    nav {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .nav-links {
        margin-top: 20px;
        font-size: 1.5rem;
    }

    
    .image-container img{
        height: 200px;
        width: 200px;
        margin-right: 50px; 
    }

}
