@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body,
h1, h2, h3, h4,
.navigation-title,
.navigation a,
p, li, div {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 20px;
}

.date {
  font-size: 20px;
}