@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


body,
h1, h2, h3, h4,
.navigation-title,
.navigation a,
p, li, div {
  font-family: 'VT323', monospace !important;
  font-size: 25px;
}

.date {
  font-size: 25px;
}

pre {
  font-size: 0.9rem;
  background-color: #111;
  padding: 1rem;
  border-radius: 6px;
}