@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body,
h1, h2, h3, h4,
.navigation-title,
.navigation a,
p, li, div {
  font-family: 'Share Tech Mono', monospace !important;
  font-size: 20px;
}

.date {
  font-size: 20px;
}
